USE [master]
GO
/****** Object:  Database [iammusic]    Script Date: 20.01.2026 22:30:29 ******/
CREATE DATABASE [iammusic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iammusic', FILENAME = N'D:\1_ДУЖП\DB\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\iammusic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'iammusic_log', FILENAME = N'D:\1_ДУЖП\DB\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\iammusic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iammusic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iammusic]
GO
/****** Object:  User [db_user2]    Script Date: 20.01.2026 22:30:29 ******/
CREATE USER [db_user2] FOR LOGIN [user2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[password] [varchar](255) NULL,
	[dateJoined] [datetime] NOT NULL,
	[role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[id_song] [int] NOT NULL,
	[content] [text] NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[id_user] [int] NOT NULL,
	[id_review] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_review] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_UserReviews]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_UserReviews] AS
SELECT u.username, r.content, r.timestamp
FROM [User] u
JOIN [Review] r ON u.id_user = r.id_user;
GO
/****** Object:  Table [dbo].[Album]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[id_album] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](250) NOT NULL,
	[artist] [varchar](250) NOT NULL,
	[imageURL] [varchar](250) NULL,
	[releaseYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_album] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[id_playlist] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[name] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_playlist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlist_Details]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist_Details](
	[id_playlist] [int] NOT NULL,
	[id_song] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_playlist] ASC,
	[id_song] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Song]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[id_song] [int] IDENTITY(1,1) NOT NULL,
	[id_album] [int] NULL,
	[title] [varchar](250) NOT NULL,
	[artist] [varchar](250) NOT NULL,
	[duration] [int] NOT NULL,
	[audioURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_song] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Album] ON 

INSERT [dbo].[Album] ([id_album], [title], [artist], [imageURL], [releaseYear]) VALUES (1, N'Everybodys Everything', N'Lil Peep', N'img/peep.png', 2019)
INSERT [dbo].[Album] ([id_album], [title], [artist], [imageURL], [releaseYear]) VALUES (2, N'Sing Me a Lullaby', N'$uicideboy$', N'img/sb.png', 2022)
INSERT [dbo].[Album] ([id_album], [title], [artist], [imageURL], [releaseYear]) VALUES (3, N'Toxicity', N'IVOXYGEN', N'img/ivox.png', 2020)
SET IDENTITY_INSERT [dbo].[Album] OFF
GO
SET IDENTITY_INSERT [dbo].[Playlist] ON 

INSERT [dbo].[Playlist] ([id_playlist], [id_user], [name]) VALUES (5, 8, N'Мікс №1')
INSERT [dbo].[Playlist] ([id_playlist], [id_user], [name]) VALUES (6, 8, N'Мікс №2')
INSERT [dbo].[Playlist] ([id_playlist], [id_user], [name]) VALUES (7, 9, N'Mix #1')
SET IDENTITY_INSERT [dbo].[Playlist] OFF
GO
INSERT [dbo].[Playlist_Details] ([id_playlist], [id_song]) VALUES (5, 1)
INSERT [dbo].[Playlist_Details] ([id_playlist], [id_song]) VALUES (5, 2)
INSERT [dbo].[Playlist_Details] ([id_playlist], [id_song]) VALUES (5, 4)
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([id_song], [content], [timestamp], [id_user], [id_review]) VALUES (1, N'Чудовий трек! 10/10', CAST(N'2026-01-14T14:40:34.893' AS DateTime), 8, 1)
INSERT [dbo].[Review] ([id_song], [content], [timestamp], [id_user], [id_review]) VALUES (10, N'Неймовірний трек! Мелодія засіла в голові на весь день. Чекаю на новий альбом цього виконавця', CAST(N'2026-01-17T22:12:24.550' AS DateTime), 8, 2)
INSERT [dbo].[Review] ([id_song], [content], [timestamp], [id_user], [id_review]) VALUES (6, N'Дуже якісний саунд і зведення. Давно не чув нічого подібного в цьому жанрі. Однозначно в плейліст!', CAST(N'2026-01-17T22:12:53.510' AS DateTime), 9, 3)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Song] ON 

INSERT [dbo].[Song] ([id_song], [id_album], [title], [artist], [duration], [audioURL]) VALUES (1, 1, N'WitchBlades', N'Lil Peep', 240, N'music/peep_whitchblades.mp3')
INSERT [dbo].[Song] ([id_song], [id_album], [title], [artist], [duration], [audioURL]) VALUES (2, 1, N'Star Shopping', N'Lil Peep', 142, N'music/peep_star-shopping.mp3')
INSERT [dbo].[Song] ([id_song], [id_album], [title], [artist], [duration], [audioURL]) VALUES (3, 1, N'White Wine', N'Lil Peep', 135, N'music/peep_white-wine.mp3')
SET IDENTITY_INSERT [dbo].[Song] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id_user], [username], [email], [password], [dateJoined], [role]) VALUES (8, N'user1', N'user1@example.com', N'$2y$10$ttNB3Vz8UUept/hyK9gBpOGMGWLVBdw3OoO7a61voFrIgZi.7nUXe', CAST(N'2026-01-14T00:30:50.153' AS DateTime), 0)
INSERT [dbo].[User] ([id_user], [username], [email], [password], [dateJoined], [role]) VALUES (9, N'user2', N'user2@example.com', N'$2y$10$InwU01DoFXRjf3iTtHkVvukUugW72ja79BuvaN7IfEj4kayozN5GO', CAST(N'2026-01-14T16:50:37.640' AS DateTime), 0)
INSERT [dbo].[User] ([id_user], [username], [email], [password], [dateJoined], [role]) VALUES (10, N'user3', N'user3@example.com', N'$2y$10$1aiNQt/MDhZj0JG0vWDnsOy/BDJtgmOVLIXfj7Y8agFpn/RLNlF56', CAST(N'2026-01-15T00:00:05.737' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_NCL_Review_By_SongID]    Script Date: 20.01.2026 22:30:29 ******/
CREATE NONCLUSTERED INDEX [IX_NCL_Review_By_SongID] ON [dbo].[Review]
(
	[id_song] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NCL_Review_By_User]    Script Date: 20.01.2026 22:30:29 ******/
CREATE NONCLUSTERED INDEX [IX_NCL_Review_By_User] ON [dbo].[Review]
(
	[id_user] ASC
)
INCLUDE([id_song],[timestamp]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61643BA03611]    Script Date: 20.01.2026 22:30:29 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC5724E07B2D0]    Script Date: 20.01.2026 22:30:29 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [role]
GO
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Playlist_Details]  WITH CHECK ADD FOREIGN KEY([id_playlist])
REFERENCES [dbo].[Playlist] ([id_playlist])
GO
ALTER TABLE [dbo].[Playlist_Details]  WITH CHECK ADD FOREIGN KEY([id_song])
REFERENCES [dbo].[Song] ([id_song])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([id_song])
REFERENCES [dbo].[Song] ([id_song])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD FOREIGN KEY([id_album])
REFERENCES [dbo].[Album] ([id_album])
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [CHK_Album_ReleaseYear] CHECK  (([releaseYear]>=(1900) AND [releaseYear]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [CHK_Album_ReleaseYear]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [CHK_Song_Duration] CHECK  (([duration]>(0)))
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [CHK_Song_Duration]
GO
/****** Object:  StoredProcedure [dbo].[Get_Most_Popular_Songs]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Most_Popular_Songs]
AS
BEGIN
    SELECT
        s.title AS SongTitle,
        s.artist AS ArtistName,
        COUNT(pd.id_playlist) AS TimesInPlaylists
    FROM
        [iammusic].[dbo].[Song] s
    INNER JOIN
        [iammusic].[dbo].[Playlist_Details] pd ON s.id_song = pd.id_song
    GROUP BY
        s.title, s.artist
    ORDER BY
        TimesInPlaylists DESC, SongTitle;
END;
GO
/****** Object:  StoredProcedure [dbo].[Get_Songs_In_User_Playlist]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Songs_In_User_Playlist]
    @UserID INT,
    @PlaylistNameFragment NVARCHAR(255)
AS
BEGIN
    SELECT
        p.name AS PlaylistName,
        s.title AS SongTitle,
        s.artist AS ArtistName,
        s.duration AS DurationSeconds
    FROM
        [iammusic].[dbo].[Playlist_Details] pd
    INNER JOIN
        [iammusic].[dbo].[Playlist] p ON pd.id_playlist = p.id_playlist
    INNER JOIN
        [iammusic].[dbo].[Song] s ON pd.id_song = s.id_song
    WHERE
        p.id_user = @UserID
        AND p.name LIKE '%' + @PlaylistNameFragment + '%'
    ORDER BY
        CAST(p.name AS NVARCHAR(255)),  -- Виправлено CAST для сортування
        CAST(s.title AS NVARCHAR(255)); -- Виправлено CAST для сортування
END;
GO
/****** Object:  StoredProcedure [dbo].[Search_Songs_By_Title_Or_Artist]    Script Date: 20.01.2026 22:30:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Search_Songs_By_Title_Or_Artist]
    @SearchTerm NVARCHAR(255)
AS
BEGIN
    -- Використовуємо LIKE для пошуку частини назви або імені артиста
    SELECT
        s.title AS SongTitle,
        s.artist AS ArtistName,
        a.title AS AlbumTitle,
        s.duration AS DurationSeconds
    FROM
        [iammusic].[dbo].[Song] s
    INNER JOIN
        [iammusic].[dbo].[Album] a ON s.id_album = a.id_album
    WHERE
        s.title LIKE '%' + @SearchTerm + '%'
        OR s.artist LIKE '%' + @SearchTerm + '%'
    ORDER BY
        s.artist, s.title;
END;
GO
USE [master]
GO
